<div class="row mt-3">
  <div class="col-sm">
    <AddEventButton @event={{this.newEvent}} @save={{action "save"}} />
  </div>
</div>

<div class="row mt-3">
  <div class="col-sm">
    <Calendar @events={{this.normalizedEvents}} />
  </div>
</div>
