<% events = Event.get_events %>
<table class="week_sheet">
  <!-- header -->
  <tr class="week_sheet_header">
    <% for i in 0..6 %>
      <td>
        <b><%= EventCalendar::WEEKDAYS[i] %></b>
        <br/>
        <%= EventCalendar::WEEK_START_DATE + i %>
      </td>
    <% end %>
  </tr>
  <!-- body -->
  <tr>
    <% i = 0 %>
    <% while i <= 6 %>
      <% current_date = EventCalendar::WEEK_START_DATE + i %>
      <% if events[current_date] %>
        <td colspan="<%= events[current_date].duration %>" class="event_cell">
          <%= events[current_date].description  %>
        </td>
        <% i += events[current_date].duration %>
      <% else %>
        <td>&nbsp;</td>
        <% i += 1 %>
      <% end %>
    <% end %>
  </tr>
</table>