<table class="week_sheet">
  <tr class="week_sheet_header">
    <% for i in 0..6 %>
      <td>
        <b><%= EventCalendar::WEEKDAYS[i] %></b>
        <br/>
        <%= Date.today + i %>
      </td>
    <% end %>
  </tr>
</table>
