<tr>
  <% for day in 0..6 %>
    <% if  start_of_week + day == event.start_date %>
      <td class="event">
        <%= event.description %>
      </td>
    <% elsif  start_of_week + day <= event.end_date &&  start_of_week + day >= event.start_date %>
      <td class="event">
      </td>
    <% else %>
      <td></td>
    <% end %>
  <% end %>
</tr>

