  <tr class="week_sheet_header">
    <% for i in 0..6 %>
      <td>
        <b><%= EventCalendar::WEEKDAYS[i] %></b>
        <br/>
        <%= EventCalendar::WEEK_START_DATE + i %>
      </td>
    <% end %>
  </tr>
