<h1>Events calendar</h1>

<%= link_to 'Create event' %>

<%= week_calendar events: @events do |date, events| %>
  <%= date %>

  <% events.each do |event| %>
    <div>
      <%= event.description %>
    </div>
  <% end %>
<% end %>
