<h1>Events calendar</h1>
<%#= link_to 'Create event' %>
<div class="form-group">
  <h3>Create event</h3>
</div>
<div id='create_event'>
  <%= render partial: 'create_event', locals: { event: @event } %>
</div><br/><br/>

<div id="calendar"></div><br/><br/>
