<h2>Events calendar</h2>

<button type="button" class="btn btn-success create-event-button" data-toggle="modal" data-target="#new-event-modal">
  Create Event
</button>

<div id="calendar"></div>


<%= render partial: 'new.modal' %>
