<h1>Events calendar</h1>

<%#= link_to 'Create event' %>
<h3>Create event</h3>
<div id='create_event'>
  <%= render partial: 'create_event', locals: { event: @event } %>
</div>

<div id="calendar"></div>
