<h1>Events calendar</h1>

<%= link_to 'Create event', [:new, :event], remote: true %>

<div id="calendar"></div>

<%= render 'widgets/modal' %>

<%= content_for :javascripts do %>
  <%= javascript_tag do %>
    $(function() {
      window.calendar.render();
    });
  <% end %>
<% end %>
