<h1>Events calendar</h1>

<div id="week_sheet_container">
</div>

<p/>

<%= link_to 'Create event' %> | <%= link_to 'Remove all events', 'javascript:void(0)', :onclick => 'remove_all_events()' %> | <%= link_to 'Reload Sheet', 'javascript:void(0)', :onclick => 'load_sheet()' %>

