<h1>Events calendar</h1>

<%= link_to 'Create event', new_event_path %>

<!-- Remove the following image tag and add the markup to create a basic weekly calendar -->
<%= week_calendar number_of_weeks: 1 do |date| %>
  <%= date %>
<% end %>

