<div class="container-fluid calendar">
  <div class="row">
    <div class="col-xs-12">
      <h1>Events calendar</h1>

      <%= link_to 'Create event', events_path, data: {remote: true, toggle: 'modal', target: '#create-event-modal-window'} %>

      <%= render partial: 'modal_form' %>
      <%= render @calendar, object: @calendar %>
    </div>
  </div>
</div>