<h1>Events calendar</h1>

<%= link_to 'Create event' %>

<!-- Remove the following image tag and add the markup to create a basic weekly calendar -->
<%= image_tag 'events_calendar', width: '100%' %>

<table class="week">
  <tr>
    <td class="header">
      <b>Monday</b></br>
      21st Mar
    </td>
    <td class="header">
      <b>Tuesday</b></br>
      22st Mar
    </td>
    <td class="header">
      <b>Wednesday</b></br>
      23st Mar
    </td>
  </tr>
  <tr>
    <td>
      <div class="main-container">
        <div class="event event-one">
          visit shop
        </div>
        <div class="event event-two">
          study english
        </div>
      </div>
    </td>
    <td>
      &nbsp;
    </td>
    <td>
      &nbsp;
    </td>
  </tr>
</table>
