{{#bs-button type="success" onClick=(action (mut addEventModal) true)}}Add Event{{/bs-button}}

{{#bs-modal open=addEventModal onHidden=(action (mut addEventModal) false) as |modal|}}
  {{#modal.header}}
    <h4 class="modal-title">
      New event
    </h4>
  {{/modal.header}}
  {{#modal.body}}
    {{#bs-form model=this.event onSubmit=(action "addEvent") novalidate=true as |form|}}
      {{#if event.errors }}
        <div class="alert alert-danger">
          {{#each event.errors as |error|}}
            {{validation-message error}}
          {{/each}}
        </div>
      {{/if}}

      <div class="form-row">
        <div class="form-group col-sm-12">
          {{form.element controlType="textarea" label="Description" property="description"}}
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-6">
          {{form.element controlType="date" label="Start date" property="startDate"}}
        </div>
        <div class="form-group col-sm-6">
          {{form.element controlType="date" label="End date" property="endDate"}}
        </div>
      </div>
    {{/bs-form}}
  {{/modal.body}}
  {{#modal.footer}}
    {{#bs-button type="primary" onClick=(action modal.submit)}}Save{{/bs-button}}
  {{/modal.footer}}
{{/bs-modal}}
