.week {
  width: 100%;
  padding: 1pt;
  border-collapse: collapse;
}

td {
  border: 1px solid black;
  width: 14%;
}

td.week_header {
  text-align: center;
}

.main-container {
  width: 300%;
}

.event {
  position: relative;
  background-color: orange;
}

.event-one {
  margin-left: 1%;
  width: 55%;
}

.event-two {
  margin-left: 32%;
  width: 30%;
}
