.week_sheet  {
    width: 100%;
}

.week_sheet_header  {
    background-color: #DCDCDC;
}
.week_sheet tr, td {
    border: 1px solid grey;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

#week_sheet_container {
}