// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#weekly-calendar{
  .fc-event, .fc-event-dot{
    background-color: #f5a200;
    border: 1px solid #d09e32;
    padding: 0.5em 1em;
    margin: 0.5em;
  }

  .fc-day-header{
    padding: 1em;
  }

  .day-subtitle{
    font-weight: normal;
  }
}