<!DOCTYPE html>
<html>
<head>
  <title>EventCalendar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='/assets/fullcalendar-3.10.0/fullcalendar.css' rel='stylesheet' />
  <link href='/assets/fullcalendar-3.10.0/fullcalendar.print.css' rel='stylesheet' media='print' />
  <script src='/assets/fullcalendar-3.10.0/lib/moment.min.js'></script>
  <script src='/assets/fullcalendar-3.10.0/lib/jquery.min.js'></script>
  <script src='/assets/fullcalendar-3.10.0/fullcalendar.js'></script>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
